@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=DM+Sans:wght@400;500;700&display=swap");
@import "tailwindcss";

@theme {
  /*  PÄRLVIT */
  --color-pearl: #fefefe;

  /*  JÄTTESVART */
  --color-black: #0a0a0a;

  /*  GULD  */
  --color-gold-light: #f8e8c8;
  --color-gold: #d4af37;
  --color-gold-dark: #b8941f;

  /*  BEIGE */
  --color-beige-light: #f5f1e8;
  --color-beige: #e6dfd1;
  --color-beige-dark: #d4c9b5;

  /* FRISK GRÖN  */
  --color-green-soft: #e8f0e3;
  --color-green: #a8c6a0;
  --color-green-dark: #8aac80;

  /* Gråskala*/
  --color-gray-light: #f8f8f8;
  --color-gray: #e0e0e0;
  --color-gray-dark: #999999;

  /*  Fonts */
  --font-heading: "Playfair Display", serif;
  --font-body: "DM Sans", sans-serif;
}
